<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href = "{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href = "{% url 'todo_item_create' %}">Create a new item</a>
                </p>
            </div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for todolist in todo_list %}
                    <tr>
                        <td> <a href="{% url 'todo_list_detail' todolist.id %}">
                            {{ todolist.name }}
                            </a>
                        </td>
                        <td> {{todolist.items.count}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
